{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

    <div class="container m-4">
        <div class="row bag-header">
            <div class="col-8 offset-2">
                <h2 class="logo-font text-black mb-4">Shopping Bag</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-8 offset-2">
                {% if bag_items %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <p class="lead mb-5 text-black">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    

{% endblock %}