html {
    height: 100%;
}

body {
    background: url('/media/gradientbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Gorditas', cursive;
}

a{
    text-decoration: none;
}

.header-container{
    min-height: 500px;
}

.hero-image {
    background: url(/media/daisies.jpg);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
}

.hero-text{
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

.product-image{
    height: auto;
    width: 100%;
}


a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.btt-button{
    height:75px;
    width:75px;
    border-radius:50%;
    background-color: rgba(65, 63, 63, 0.61);
}

.btt-link{
    cursor: pointer;
}

.darkheather{
    background-color: #635271;
}

.heather{
    background-color: #a693b5;
}

.logo-font {
    text-transform: uppercase;
    align-items: center;
}

.main-logo-link {
    width: fit-content;
    align-items: center;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black{
    color:#000;
    border-color: #000;
}

.bg-black{
    background-color: #000;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.navbar-toggler-icon {
    color: black !important;
}

.border-black {
    border: 1px solid black !important;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}